.title {

}

.title--xs {
  font-size: $fontSizeXS;
}

.title--s {
  font-size: $fontSizeS;
  font-weight: 800;
}

.title--m {
  font-size: $fontSizeM;
  font-weight: 800;
}

.title--accent {
  color: $colorAccent;
}