$colorAccent: #6900FF !default;
$colorPrimary: #07C !default;
$colorSuccess: #008036 !default;
$colorWarning: #FEC514 !default;
$colorDanger: #BD271E !default;
$colorLightShade: #dddddd !default;
$colorMediumShade: #98A2B3 !default;
$colorDarkShade: #69707D !default;
$colorFullShade: #000 !default;