$size:     16px !default;

$sizeXS:   $size * .25 !default;
$sizeS:    $size * .5 !default;
$sizeM:    $size * .75 !default;
$sizeL:    $size * 1.5 !default;
$sizeXL:   $size * 2 !default;
$sizeXXL:  $size * 2.5 !default;