.card {
  border: 1px solid $colorLightShade;
  border-radius: $sizeXS;
  padding: $sizeL;
  width: 400px;
  margin: $sizeS;

  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 0px inset, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.2s ease-out;

  &:hover {
    top: -4px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 20px 50px -10px, rgba(0, 0, 0, 0.3) 0px 15px 30px -15px;
  }
}